html, body, #root, .App {
  height: 100%;
}

body, #root, .App{
  min-height:100%;
}


body{
  font-family: 'Roboto', sans-serif;
  p{
    font-size:1.2em;
  }
}

button{
  cursor:pointer;
}

#wrapper{
  width:100%;
  margin:0 auto;
  box-sizing:border-box;
  min-height: calc(100% - 58px);
  display: flex;
  flex-direction: column;
}

#wrapper-contents{
  width:90%;
  margin: 0 auto;
  flex: 1;
}

h1{
  margin: 1em 0;
}


@media only screen and (min-width: 600px) {
  #wrapper{
    #wrapper-contents{
      max-width:1200px;
    }
  }
}

@media only screen and (min-width: 769px) {
  #wrapper{
    min-height: calc(100% - 58px);
  }
}