html, body, #root, .App {
  height: 100%;
}

body, #root, .App{
  min-height:100%;
}


body{
  font-family: 'Roboto', sans-serif;
  p{
    font-size:1.2em;
  }
  h2{
    margin-bottom:20px;
  }
}

button{
  cursor:pointer;
}

#wrapper{
  width:100%;
  margin:0 auto;
  box-sizing:border-box;
  min-height: calc(100% - 58px);
  display: flex;
  flex-direction: column;
}

#wrapper-contents{
  width:90%;
  margin: 20px auto 0 auto;
  flex: 1;
  a, button, input[type=submit]{
    text-decoration:none;
    border-radius:5px;
    background-color:$huddle-blue;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
    border: none;
  }
  a:hover, button:hover, input[type=submit]:hover{
    background-color:$huddle-blue-hover;
  }
}

h1{
  margin: 1em 0;
}


/*    STYLES FOR FORMS START    */

form{
  margin-bottom:20px;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  //max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 10px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px 8px 8px 0;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea,
.flex-outer li select{
  padding: 10px;
  border:1px solid $huddle-blue;
  cursor:pointer;
 // border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}

/*    STYLES FOR FORMS END    */


@media only screen and (min-width: 600px) {
  #wrapper{
    #wrapper-contents{
      max-width:900px;
    }
  }
}

@media only screen and (min-width: 769px) {
  #wrapper{
    min-height: calc(100% - 58px);
  }
}