#wrapper-contents button.remove{
  padding:5px 12px; 
}

.teamview{
  table{
    width: 60%;
    min-width: 300px;
    tr.team-player{
      text-align:center;
    }
  }
} 

.teamview table{
  width:100%;
  margin:20px 0;
  th{
    font-weight: 500;
  }
  td,tr,th{
    padding:5px;
  }
  td,tr{
    border: 2px solid $huddle-blue; 
  }
  th{
    background:$huddle-blue;
    color:#fff;
    text-align:center;
  }
  .team-player td:nth-of-type(3){
    width:60px;
  }
}
